<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Icons</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Icons</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default card-outline">
        <div class="card-header">
          <h3 class="card-title">Icons</h3>
        </div>
        <!-- /.card-body -->
        <div class="card-body">
          <p>You can use any font library you like with bstn.</p>
          <p><strong>Accessibility Icons</strong></p>

          <table class="table table-bordered mb-4">
            <tbody>
              <app-fab-fa-accessible-icon></app-fab-fa-accessible-icon>

              <app-fas-fa-american-sign-language-interpreting></app-fas-fa-american-sign-language-interpreting>

              <app-fas-fa-assistive-listening-systems></app-fas-fa-assistive-listening-systems>

              <app-fas-fa-audio-description></app-fas-fa-audio-description>

              <app-fas-fa-blind></app-fas-fa-blind>

              <app-fas-fa-braille></app-fas-fa-braille>

              <app-fas-fa-closed-captioning></app-fas-fa-closed-captioning>

              <app-far-fa-closed-captioning></app-far-fa-closed-captioning>

              <app-fas-fa-deaf></app-fas-fa-deaf>

              <app-fas-fa-low-vision></app-fas-fa-low-vision>

              <app-fas-fa-phone-volume></app-fas-fa-phone-volume>

              <app-fas-fa-question-circle></app-fas-fa-question-circle>

              <app-far-fa-question-circle></app-far-fa-question-circle>

              <app-fas-fa-sign-language></app-fas-fa-sign-language>

              <app-fas-fa-tty></app-fas-fa-tty>

              <app-fas-fa-universal-access></app-fas-fa-universal-access>

              <app-fas-fa-wheelchair></app-fas-fa-wheelchair>
            </tbody>
          </table>
          <p><strong>Alert Icons</strong></p>
          <table class="table table-bordered mb-4">
            <tbody>
              <app-far-fa-bell></app-far-fa-bell>

              <app-far-fa-bell></app-far-fa-bell>

              <app-fas-fa-bell-slash></app-fas-fa-bell-slash>

              <app-far-fa-bell-slash></app-far-fa-bell-slash>

              <app-fas-fa-exclamation></app-fas-fa-exclamation>

              <app-fas-fa-exclamation-circle></app-fas-fa-exclamation-circle>

              <app-fas-fa-exclamation-triangle></app-fas-fa-exclamation-triangle>

              <app-fas-fa-radiation></app-fas-fa-radiation>

              <app-fas-fa-radiation-alt></app-fas-fa-radiation-alt>

              <app-fas-fa-skull-crossbones></app-fas-fa-skull-crossbones>
            </tbody>
          </table>
          <p><strong>Arrow Icons</strong></p>
          <table class="table table-bordered mb-4">
            <tbody>
              <app-fas-fa-angle-double-down></app-fas-fa-angle-double-down>

              <app-fas-fa-angle-double-left></app-fas-fa-angle-double-left>

              <app-fas-fa-angle-double-right></app-fas-fa-angle-double-right>

              <app-fas-fa-angle-double-up></app-fas-fa-angle-double-up>

              <app-fas-fa-angle-down></app-fas-fa-angle-down>

              <app-fas-fa-angle-left></app-fas-fa-angle-left>

              <app-fas-fa-angle-right></app-fas-fa-angle-right>

              <app-fas-fa-angle-up></app-fas-fa-angle-up>

              <app-fas-fa-arrow-alt-circle-down></app-fas-fa-arrow-alt-circle-down>

              <app-far-fa-arrow-alt-circle-down></app-far-fa-arrow-alt-circle-down>

              <app-fas-fa-arrow-alt-circle-left></app-fas-fa-arrow-alt-circle-left>

              <app-far-fa-arrow-alt-circle-left></app-far-fa-arrow-alt-circle-left>

              <app-fas-fa-arrow-alt-circle-right></app-fas-fa-arrow-alt-circle-right>

              <app-far-fa-arrow-alt-circle-right></app-far-fa-arrow-alt-circle-right>

              <app-fas-fa-arrow-alt-circle-up></app-fas-fa-arrow-alt-circle-up>

              <app-far-fa-arrow-alt-circle-up></app-far-fa-arrow-alt-circle-up>

              <app-fas-fa-arrow-circle-down></app-fas-fa-arrow-circle-down>

              <app-fas-fa-arrow-circle-left></app-fas-fa-arrow-circle-left>

              <app-fas-fa-arrow-circle-right></app-fas-fa-arrow-circle-right>

              <app-fas-fa-arrow-circle-up></app-fas-fa-arrow-circle-up>

              <app-fas-fa-arrow-down></app-fas-fa-arrow-down>

              <app-fas-fa-arrow-left></app-fas-fa-arrow-left>

              <app-fas-fa-arrow-right></app-fas-fa-arrow-right>

              <app-fas-fa-arrow-up></app-fas-fa-arrow-up>

              <app-fas-fa-arrows-alt></app-fas-fa-arrows-alt>

              <app-fas-fa-arrows-alt-h></app-fas-fa-arrows-alt-h>

              <app-fas-fa-arrows-alt-v></app-fas-fa-arrows-alt-v>

              <app-fas-fa-caret-down></app-fas-fa-caret-down>

              <app-fas-fa-caret-left></app-fas-fa-caret-left>

              <app-fas-fa-caret-right></app-fas-fa-caret-right>

              <app-fas-fa-caret-square-down></app-fas-fa-caret-square-down>

              <app-far-fa-caret-square-down></app-far-fa-caret-square-down>

              <app-fas-fa-caret-square-left></app-fas-fa-caret-square-left>

              <app-far-fa-caret-square-left></app-far-fa-caret-square-left>

              <app-fas-fa-caret-right-two></app-fas-fa-caret-right-two>

              <app-fas-fa-caret-square-down-two></app-fas-fa-caret-square-down-two>

              <app-far-fa-caret-square-down-two></app-far-fa-caret-square-down-two>

              <app-fas-fa-caret-square-left-two></app-fas-fa-caret-square-left-two>

              <app-far-fa-caret-square-left-two></app-far-fa-caret-square-left-two>

              <app-fas-fa-caret-square-right></app-fas-fa-caret-square-right>

              <app-far-fa-caret-square-right></app-far-fa-caret-square-right>

              <app-fas-fa-caret-square-up></app-fas-fa-caret-square-up>

              <app-far-fa-caret-square-up></app-far-fa-caret-square-up>

              <app-fas-fa-caret-up></app-fas-fa-caret-up>

              <app-fas-fa-cart-arrow-down></app-fas-fa-cart-arrow-down>

              <app-fas-fa-chart-line></app-fas-fa-chart-line>

              <app-fas-fa-chevron-circle-down></app-fas-fa-chevron-circle-down>
              
              <app-fas-fa-chevron-circle-left></app-fas-fa-chevron-circle-left>
              
              <app-fas-fa-chevron-circle-right></app-fas-fa-chevron-circle-right>
              
              <app-fas-fa-chevron-circle-up></app-fas-fa-chevron-circle-up>
              
              <app-fas-fa-chevron-down></app-fas-fa-chevron-down>
              
              <app-fas-fa-chevron-left></app-fas-fa-chevron-left>
              
              <app-fas-fa-chevron-right></app-fas-fa-chevron-right>
              
              <app-fas-fa-chevron-up></app-fas-fa-chevron-up>
              
              <app-fas-fa-cloud-download-alt></app-fas-fa-cloud-download-alt>
              
              <app-fas-fa-cloud-upload-alt></app-fas-fa-cloud-upload-alt>
              
              <app-fas-fa-compress-alt></app-fas-fa-compress-alt>
              
              <app-fas-fa-compress-arrows-alt></app-fas-fa-compress-arrows-alt>
              
              <app-fas-fa-download></app-fas-fa-download>
              
              <app-fas-fa-exchange-alt></app-fas-fa-exchange-alt>
              
              <app-fas-fa-expand-alt></app-fas-fa-expand-alt>>
              
              <app-fas-fa-expand-arrows-alt></app-fas-fa-expand-arrows-alt>
              
              <app-fas-fa-external-link-alt></app-fas-fa-external-link-alt>
              
              <app-fas-fa-external-link-square-alt></app-fas-fa-external-link-square-alt>
              
              <app-fas-fa-hand-point-down></app-fas-fa-hand-point-down>
              
              <app-far-fa-hand-point-down></app-far-fa-hand-point-down>
              
              <app-fas-fa-hand-point-left></app-fas-fa-hand-point-left>
              
              <app-far-fa-hand-point-left></app-far-fa-hand-point-left>
              
              <app-fas-fa-hand-point-right></app-fas-fa-hand-point-right>
              
              <app-far-fa-hand-point-right></app-far-fa-hand-point-right>
              
              <app-fas-fa-hand-point-up></app-fas-fa-hand-point-up>
              
              <app-far-fa-hand-point-up></app-far-fa-hand-point-up>
              
              <app-fas-fa-hand-pointer></app-fas-fa-hand-pointer>
              
              <app-far-fa-hand-pointer></app-far-fa-hand-pointer>
              
              <app-fas-fa-history></app-fas-fa-history>
              
              <app-fas-fa-level-down-alt></app-fas-fa-level-down-alt>
              
              <app-fas-fa-level-up-alt></app-fas-fa-level-up-alt>
              
              <app-fas-fa-location-arrow></app-fas-fa-location-arrow>
              
              <app-fas-fa-long-arrow-alt-down></app-fas-fa-long-arrow-alt-down>
              
              <app-fas-fa-long-arrow-alt-left></app-fas-fa-long-arrow-alt-left>
              
              <app-fas-fa-long-arrow-alt-right></app-fas-fa-long-arrow-alt-right>
              
              <app-fas-fa-long-arrow-alt-up></app-fas-fa-long-arrow-alt-up>
              
              <app-fas-fa-mouse-pointer></app-fas-fa-mouse-pointer>
              
              <app-fas-fa-play></app-fas-fa-play>
              
              <app-fas-fa-random></app-fas-fa-random>
              
              <app-fas-fa-recycle></app-fas-fa-recycle>
              
              <app-fas-fa-redo></app-fas-fa-redo>
              
              <app-fas-fa-redo-alt></app-fas-fa-redo-alt>
              
              <app-fas-fa-reply></app-fas-fa-reply>
              
              <app-fas-fa-reply-all></app-fas-fa-reply-all>
              
              <app-fas-fa-retweet></app-fas-fa-retweet>
              
              <app-fas-fa-share></app-fas-fa-share>
              
              <app-fas-fa-share-square></app-fas-fa-share-square>
              
              <app-far-fa-share-square></app-far-fa-share-square>
              
              <app-fas-fa-sign-in-alt></app-fas-fa-sign-in-alt>
              
              <app-fas-fa-sign-out-alt></app-fas-fa-sign-out-alt>
              
              <app-fas-fa-sort></app-fas-fa-sort>
              
              <app-fas-fa-sort-alpha-down></app-fas-fa-sort-alpha-down>
              
              <app-fas-fa-sort-alpha-down-alt></app-fas-fa-sort-alpha-down-alt>
              
              <app-fas-fa-sort-alpha-up></app-fas-fa-sort-alpha-up>
              
              <app-fas-fa-sort-alpha-up-alt></app-fas-fa-sort-alpha-up-alt>
              
              <app-fas-fa-sort-amount-down></app-fas-fa-sort-amount-down>
              
              <app-fas-fa-sort-amount-down-alt></app-fas-fa-sort-amount-down-alt>
              
              <app-fas-fa-sort-amount-up></app-fas-fa-sort-amount-up>
              
              <app-fas-fa-sort-alpha-up-alt></app-fas-fa-sort-alpha-up-alt>
              
              <app-fas-fa-sort-down></app-fas-fa-sort-down>
              
              <app-fas-fa-sort-numeric-down></app-fas-fa-sort-numeric-down>
              
              <app-fas-fa-sort-numeric-down-alt></app-fas-fa-sort-numeric-down-alt>
              
              <app-fas-fa-sort-numeric-up></app-fas-fa-sort-numeric-up>
              
              <app-fas-fa-sort-numeric-up-alt></app-fas-fa-sort-numeric-up-alt>
              
              <app-fas-fa-sort-up></app-fas-fa-sort-up>
              
              <app-fas-fa-sync></app-fas-fa-sync>
              
              <app-fas-fa-sync-alt></app-fas-fa-sync-alt>
              
              <app-fas-fa-text-height></app-fas-fa-text-height>
              
              <app-fas-fa-text-width></app-fas-fa-text-width>
              
              <app-fas-fa-undo></app-fas-fa-undo>
              
              <app-fas-fa-undo-alt></app-fas-fa-undo-alt>
              
              <app-fas-fa-upload></app-fas-fa-upload>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </section>
  <!-- /.content -->
</div>
