<div class="training-box">
  <div class="training-heading">
    <h1 class="mb-0">Training Status</h1>
  </div>
  <div class="training-status">
    <p-tabView>
      <p-tabPanel header="Active">
        <table>
          <tr>
            <th class="w-71">Training Name</th>
            <th>Days left before epiration</th>
          </tr>
          <tr>
            <td class="w-71">Abuse and Neglect of Individuals with I/DD0</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td class="w-71">Mock Fire Drill</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td class="w-71">
              Environmental Safety for Individuals with Developmental
              Disabilities
            </td>
            <td>N/A</td>
          </tr>
          <tr>
            <td class="w-71">
              Assisting People with Intellectual and Developmental Disabilities
              in Choice Making
            </td>
            <td>N/A</td>
          </tr>
          <tr>
            <td class="w-71">Additional Training: Mealtime Challenges</td>
            <td>28302</td>
          </tr>
          <tr>
            <td class="w-71">BSTN INFORMED CHOICE POLICY</td>
            <td>N/A</td>
          </tr>
        </table>
      </p-tabPanel>
      <p-tabPanel header="Expired or Pending">
        <table>
          <tr>
            <th class="w-71">Training Name</th>
            <th>Days left before epiration</th>
          </tr>
          <tr>
            <td class="w-71">TNDIDD Title VI Course</td>
            <td>EXP</td>
          </tr>
          <tr>
            <td class="w-71">JD ISP Training</td>
            <td>PEN</td>
          </tr>
          <tr>
            <td class="w-71">JD BSP Training</td>
            <td>PEN</td>
          </tr>
          <tr>
            <td class="w-71">JD Parent Approval</td>
            <td>PEN</td>
          </tr>
          <tr>
            <td class="w-71">JD Mock Fire Drill</td>
            <td>PEN</td>
          </tr>
          <tr>
            <td class="w-71">JD Skill Competence</td>
            <td>PEN</td>
          </tr>
          <tr>
            <td class="w-71">JD Transportation Procedures</td>
            <td>PEN</td>
          </tr>
        </table>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
