<div class="training-box">
  <div class="training-heading">
    <h1 class="mb-0">Contacts</h1>
  </div>
  <div class="contact-info">
    <div class="row">
      <div class="col-lg-6 pe-2">
        <div class="personal-info">
          <div class="head-info position-relative">
            <h3 class="d-inline-block mb-0">Personal Information</h3>
            <button class="btn btn-primary position-absolute">
              <img src="../../../../assets/img/pencil.svg" alt="" />
              <span>Edit</span>
            </button>
          </div>
          <div class="personal-details">
            <table>
              <colgroup>
                <col class="first-col" />
                <col class="second-col" />
              </colgroup>
              <tr>
                <td>Full Name</td>
                <td>Carl A. Glenn</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>1 Cordova, TN 38018</td>
              </tr>
              <tr>
                <td>Phone Primary</td>
                <td>(901) 482-2082</td>
              </tr>
              <tr>
                <td>Phone Secondary</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>carlos@bstn.org</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ps-2">
        <div class="signature-div">
          <div class="head-info position-relative">
            <h3 class="d-inline-block mb-0">Signature Image</h3>
            <button class="btn btn-primary position-absolute">
              <span>Upload Signature</span>
            </button>
          </div>
          <div class="sign-div text-center">
            <img src="../../../../assets/img/sign.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-12 emergency-contacts">
        <div class="head-info position-relative">
          <h3 class="d-inline-block mb-0">Emergency Contacts</h3>
          <button class="btn btn-primary position-absolute">
            <span>+ Add</span>
          </button>
        </div>
        <div class="contact-details">
          <table>
            <colgroup>
              <col class="first-contact-col" />
              <col class="second-contact-col" />
              <col class="third-contact-col" />
            </colgroup>
            <tr>
              <th>Contact Name</th>
              <th>Contact Number</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>Ann Donin</td>
              <td>9012708615</td>
              <td>
                <a><img src="../../../../assets/img/edit-icon.png" alt="" /></a>
                <a><img class="ms-2" src="../../../../assets/img/bin-icon.png" alt="" /></a>
              </td>
            </tr>
            <tr>
              <td>Lindsey Press</td>
              <td>9013659280</td>
              <td>
                <a><img src="../../../../assets/img/edit-icon.png" alt="" /></a>
                <a><img class="ms-2" src="../../../../assets/img/bin-icon.png" alt="" /></a>
              </td>
            </tr>
            <tr class="last-row">
              <td>Jaylon Aminoff</td>
              <td>9012708615</td>
              <td>
                <a><img src="../../../../assets/img/edit-icon.png" alt="" /></a>
                <a><img class="ms-2" src="../../../../assets/img/bin-icon.png" alt="" /></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
