<div class="container p-0">
  <div class="row mt-2">
    <div class="col-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Clients</a></li> -->
          <li class="breadcrumb-item">
            <a href="javascript:void(0)" [routerLink]="'/client/manage-clients'"
              >Manage Clients</a
            >
          </li>
          <li class="breadcrumb-item active" aria-current="page" *ngIf="Data">
            {{ Data.firstName }}&nbsp;{{ Data.middleName }}&nbsp;{{
              Data.lastName
            }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <!-- Page Head -->

    <!-- <div class="col-lg-12 p-0">
      <p class="top-heading">
        Clients <span>/</span  >  <span [routerLink]="'/client/manage-clients'" style="cursor: pointer;">Manage Clients /</span>
        <span class="client-name"> Tom Shemar Blackberry</span>
      </p>
    </div> -->

    <!-- Page Head -->

    <!-- Page Content -->

    <div class="col-lg-12">
      <div class="col-lg-12 client-info pt-3 pb-5 px-3">
        <div class="row">
          <div class="col-lg-12 text-end">
            <button class="btn secondary-btn me-3">
              <img class="me-2" src="../../../../assets/img/camera-icon.svg" alt="" /><span
                >Videos</span
              ><img class="ms-2" src="../../../../assets/img/dropdown-icon.svg" alt="" />
            </button>
            <a [routerLink]="'/edit-client/' + Data.id">
              <button class="btn primary-btn" *ngIf="Data">
                <img class="me-2" src="../../../../assets/img/pencil.svg" alt="" />Edit
                Client
              </button>
            </a>
          </div>
          <div class="col-lg-2 col-md-3 client-image position-relative" *ngIf="Data">
            <img *ngIf="Data.clientPicture.filePath" style="width: 96px; height: 96px;" class="position-absolute"
              src="{{Data.clientPicture.filePath}}" alt="" />

            <img *ngIf="!Data.clientPicture.filePath" style="width: 96px; height: 96px;" class="position-absolute"
              src="../../assets/img/NoImage.png" alt="" />

          </div>
          <div class="col-lg-3 col-md-5 client-details" *ngIf="Data">
            <h3>{{Data.firstName}} {{Data.middleName}} {{Data.lastName}}</h3>
            <h4>{{Data.gender}}, {{Data.age}} years</h4>
            <div class="client-address" *ngIf="Data">
              <p class="d-inline-block location-icon">
                {{ Data.address }} &nbsp; {{ Data.address2 }}&nbsp;
                {{ Data.city }}
                &nbsp;
                {{ Data.state }}&nbsp; {{ Data.zip }}
              </p>
            </div>
            <div class="client-contact" *ngIf="Data">
              <p class="d-inline-block phone-icon">
                {{ Data.primaryPhone }} <span>(Assigned Number)</span>
              </p>
              <p class="second-p">
                {{ Data.secondaryPhone }} <span>(Client's Contact)</span>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 client-numbers">
            <div class="phone-number">
              <h3>Conservator</h3>
              <p>
                Vanessa and Greg Bethea
                <span class="phone-icon">(901) 270-8615</span>
              </p>
            </div>
            <div>
              <h3>Manager</h3>
              <p class="mb-0">
                Robert Clyburn <span class="phone-icon">(731) 234-1305</span>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 client-numbers">
            <div class="phone-number">
              <h3>ISC</h3>
              <p>
                Lisa Espinoza <span class="phone-icon">(901) 531-7350</span>
              </p>
            </div>
            <div>
              <h3>Behavior Analyst</h3>
              <p class="mb-0">
                William Talbert <span class="phone-icon">(901) 494-3800</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="client-menu">
        <app-client-panel-menu></app-client-panel-menu>
      </div>
    </div>
  </div>
</div>
