<div class="client-tab-container p-3">
  <div class="sub-container">
      <div class="client-tab-header d-flex justify-content-between">
        <h3 class="mb-0 d-inline-block">Contacts</h3>
        <div>
          <p class="mb-0 d-inline-block align-middle">Updated on <span>08/09/2016</span></p>
          <button class="btn primary-btn ms-4" (click)="openAddContactPopup()">
            + Add New Contact
          </button>
        </div>
      </div>
    <div class="health-main mt-3">
      <div class="row w-100">
        <div class="col-lg-12 client-tab-data">
          <div class="row">
            <div class="header bg-color-grey bottom-border">
              <h3 class="m-0 d-inline-block">
                <input
                  type="checkbox"
                  class="align-middle position-relative"
                />House Manager
              </h3>
              <p class="m-0 float-end d-inline-block">Emergency</p>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row p-3">
                    <div class="col-md-6 common-box p-0">
                      <p><span>Name</span> <strong>Robert Clyburn</strong></p>
                      <p>
                        <span>Address</span>
                        <strong>1155 Cully Rd, Cordova, TN 38016</strong>
                      </p>
                      <p>
                        <span>24 Hour Phone</span>
                        <strong>(731) 234-1305</strong>
                      </p>
                      <p><span>Home Phone</span> <strong>N/A</strong></p>
                    </div>
                    <div class="col-md-6 common-box p-0">
                      <p>
                        <span>Cell Phone</span> <strong>(731) 234-1305</strong>
                      </p>
                      <p><span>Email</span> <strong>robert@bstn.org</strong></p>
                      <p><span>Speciality</span> <strong>Speciality</strong></p>
                      <p><span>Agency</span> <strong>BSTN</strong></p>
                      <p><span>Contact Type</span> <strong>Manager</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 client-tab-data">
          <div class="row">
            <div class="header bg-color-grey bottom-border">
              <h3 class="m-0 d-inline-block">
                <input
                  type="checkbox"
                  class="align-middle position-relative"
                />Supervisor
              </h3>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row p-3">
                    <div class="col-md-6 common-box p-0">
                      <p><span>Name</span> <strong>Toinette Young</strong></p>
                      <p>
                        <span>Address</span>
                        <strong>1155  Cully Rd, Cordova, TN 38018</strong>
                      </p>
                      <p>
                        <span>24 Hour Phone</span>
                        <strong>(901) 870-6356</strong>
                      </p>
                      <p><span>Home Phone</span> <strong>(901) 870-6356</strong></p>
                    </div>
                    <div class="col-md-6 common-box p-0">
                      <p>
                        <span>Cell Phone</span> <strong>(901) 870-6356</strong>
                      </p>
                      <p><span>Email</span> <strong>toinette@bstn.org</strong></p>
                      <p><span>Speciality</span> <strong>MSS</strong></p>
                      <p><span>Agency</span> <strong>BSTN</strong></p>
                      <p><span>Contact Type</span> <strong>Residential Agency</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 client-tab-data">
          <div class="row">
            <div class="header bg-color-grey bottom-border">
              <h3 class="m-0 d-inline-block">
                <input
                  type="checkbox"
                  class="align-middle position-relative"
                />Conservators
              </h3>
              <p class="m-0 float-end d-inline-block">Emergency</p>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row p-3">
                    <div class="col-md-6 common-box p-0">
                      <p><span>Name</span> <strong>Vanessa and Greg Bethea</strong></p>
                      <p>
                        <span>Address</span>
                        <strong>3474 Dupree, Memphis, TN 38115</strong>
                      </p>
                      <p>
                        <span>24 Hour Phone</span>
                        <strong>(901) 270-8615</strong>
                      </p>
                      <p><span>Home Phone</span> <strong>(901) 365-9280</strong></p>
                    </div>
                    <div class="col-md-6 common-box p-0">
                      <p>
                        <span>Cell Phone</span> <strong>(901) 270-8615</strong>
                      </p>
                      <p><span>Email</span> <strong>na@hotmail.com</strong></p>
                      <p><span>Speciality</span> <strong>Conservator</strong></p>
                      <p><span>Agency</span> <strong>Conservator</strong></p>
                      <p><span>Contact Type</span> <strong>Residential Agency</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 client-tab-data">
          <div class="row">
            <div class="header bg-color-grey bottom-border">
              <h3 class="m-0 d-inline-block">
                <input
                  type="checkbox"
                  class="align-middle position-relative"
                />Behavior Analyst
              </h3>
              <p class="m-0 float-end d-inline-block">Emergency</p>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row p-3">
                    <div class="col-md-6 common-box p-0">
                      <p><span>Name</span> <strong>William Talbert</strong></p>
                      <p>
                        <span>Address</span>
                        <strong>1155 Cully Rd, Cordova, TN 38018</strong>
                      </p>
                      <p>
                        <span>24 Hour Phone</span>
                        <strong>(901) 494-3800</strong>
                      </p>
                      <p><span>Home Phone</span> <strong>N/A</strong></p>
                    </div>
                    <div class="col-md-6 common-box p-0">
                      <p>
                        <span>Cell Phone</span> <strong>N/A</strong>
                      </p>
                      <p><span>Email</span> <strong>wil@bstn.org</strong></p>
                      <p><span>Speciality</span> <strong>BA</strong></p>
                      <p><span>Agency</span> <strong>BSTN</strong></p>
                      <p><span>Contact Type</span> <strong>Behavior Analyst</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Add New Contact"
  [(visible)]="displayPosition1"
  [position]="position"
  [modal]="true"
  [style]="{ width: '500px', height: '100vh', maxHeight: 'none' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="row add-dialog edit-form">
    <app-add-new-contact
      [showActions]="false"
      [selectedItems]="selectedItems"
    ></app-add-new-contact>
    <div>
      <div class="divider"></div>
      <div class="listing-actions col-sm-12">
        <div class="btn-action-group col-sm-12">
          <button
            pbutton=""
            pripple=""
            type="button"
            class="p-element p-button-info btn btn-block btn-sm p-button p-component"
            (click)="saveContact()"
          >
            Save
          </button>
          &nbsp;
          <button
            pbutton=""
            pripple=""
            type="button"
            class="p-element p-button-secondary btn btn-block btn-sm p-button p-component"
            (click)="cancelDetails()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
