<p-tabView>
    <p-tabPanel header="Activity">
        <app-client-profile-activity></app-client-profile-activity>
    </p-tabPanel>
    <p-tabPanel header="Health Passport">
        <app-client-profile-health-passport></app-client-profile-health-passport>
    </p-tabPanel>
    <p-tabPanel header="Services">
        <app-client-profile-services></app-client-profile-services>
    </p-tabPanel>
    <p-tabPanel header="Contacts">
        <app-client-profile-contacts></app-client-profile-contacts>
    </p-tabPanel>
    <p-tabPanel header="Therapists">
        <app-client-profile-therapists></app-client-profile-therapists>
    </p-tabPanel>
    <p-tabPanel header="Documents">
        <app-client-profile-documents></app-client-profile-documents>
    </p-tabPanel>
    <p-tabPanel header="Staffing">
    </p-tabPanel>
    <p-tabPanel header="More">
  
    </p-tabPanel>
  </p-tabView>
  