<div class="row shift-calendar">
  <div class="col-lg-8 pe-lg-2">
    <div class="shift-detail">
      <div class="row shift-table-top">
        <div class="col-lg-4 col-md-3">
          <p>Feb 2022</p>
        </div>
        <div class="col-lg-8 col-md-9">
          <button class="btn">
            <img src="../../../../assets/img/weekleftarrow.svg" alt="" />
          </button>
          <p class="d-inline-block mb-0">
            Monday, Feb 21, 2022 - Sunday, Feb 27, 2022
          </p>
          <button class="btn">
            <img src="../../../../assets/img/weekrightarrow.svg" alt="" />
          </button>
        </div>
      </div>
      <table class="w-100">
        <tr class="head-row">
          <th><img src="../../../../assets/img/clock.svg" alt="" /></th>
          <th>10:00</th>
          <th>11:00</th>
          <th>12:00</th>
          <th>13:00</th>
          <th>14:00</th>
          <th>15:00</th>
          <th>16:00</th>
          <th>17:00</th>
          <th>18:00</th>
        </tr>
        <tr>
          <td>Mon</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="active-row">
          <td>Tue</td>
          <td>
            <div class="position-absolute shift-start text-start">
              <p class="mb-0 d-inline-block">
                Shift 10:00 AM to 06:00 PM R2 Test
              </p>
              <button class="btn">
                <img src="../../../../assets/img/shift-arrow.svg" alt="" />Start
                Shift
              </button>
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Wed</td>
          <div class="position-absolute shift-time-small text-start">
            <p class="mb-0 d-inline-block">Shift 10:00 AM to 06:00 PM R2 Test</p>
          </div>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Thu</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Fri</td>
          <td>
            <div class="position-absolute shift-time-large text-start">
              <p class="mb-0 d-inline-block">
                Shift 10:00 AM to 06:00 PM R2 Test
              </p>
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Sat</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Sun</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-4 mt-lg-0 mt-md-3 mt-sm-3">
    <div class="calendar">
      <app-calendar></app-calendar>
    <div class="calendar-shift">
      <div class="row task">
        <div class="col-lg-2 col-md-2 col-2">
          <p class="mb-0 text-center">23</p>
        </div>
        <div class="col-lg-9 col-md-9 col-9">
          <p class="mb-0">01:00 PM to 04:00 PM</p>
          <h4 class="mb-0">R2 Test</h4>
        </div>
      </div>
      <div class="row task">
        <div class="col-lg-2 col-md-2 col-2">
          <p class="mb-0 text-center">23</p>
        </div>
        <div class="col-lg-9 col-md-9 col-9 pending">
          <h4 class="mb-0">
            Pending Servey<span>(1)</span><a href="">View</a>
          </h4>
        </div>
      </div>
      <div class="row task">
        <div class="col-lg-2 col-md-2 col-2">
          <p class="mb-0 text-center">23</p>
        </div>
        <div class="col-lg-9 col-md-9 col-9 pending">
          <h4 class="mb-0">
            Pending Quiz<span class="me-3">(9)</span><a href="">View</a>
          </h4>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
