.check-box {
    margin-right: 8px;
}

.divider {
    border-bottom: 1px solid #DEE2E6;
}

.label {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343A40;
}

.listing-actions {
    border-top: 1px solid #DEE2E6;
    position: sticky;
    bottom: 0;
    background: #fff;
    padding: 16px 28px;
    // width: calc(100% + 16px);
    // max-width: calc(100% + 16px);
    // margin: 0 -16px;
}