<div class="client-tab-container p-3">
  <div class="sub-container">
    <div class="client-tab-header d-flex justify-content-between">
      <h3 class="mb-0 d-inline-block">Health Passport</h3>
      <div>
        <button class="btn bg-color-lightblue small-btn">
          <img src="../../../../assets/img/print-icon.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="health-main mt-3">
      <div class="row w-100 health-table">
        <div class="col-lg-6 gx-0 pe-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Personal Information</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-3">
                        <img
                          class="round-4"
                          src="../../../../assets/img/client-img.png"
                          alt=""
                        />
                      </div>
                      <div class="col-md-9 common-box commonBoxImg p-0 ps-3">
                        <p>
                          <span>Full Name</span> <strong>Tom Blackberry</strong>
                        </p>
                        <p>
                          <span>DOB</span>
                          <strong>05/03/1996</strong>
                        </p>
                        <p>
                          <span>Home Address</span>
                          <strong>4859 Judy Lynn Ave Memphis, TN 38133</strong>
                        </p>
                        <p><span>SSN</span> <strong>N/A</strong></p>
                        <p>
                          <span>Home Phone</span> <strong>9012074867</strong>
                        </p>
                        <p>
                          <span>MCO</span> <strong>BCBS Tenncare Select</strong>
                        </p>
                        <p>
                          <span>MCO I.D.</span> <strong>ZEDM12341210</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 ps-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Type of Disability</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Medical Diagnoses</span>
                          <strong
                            >Severe Intellectual Disabilities, Austisic
                            Behavior, Expressive Language Disorder, Disruptive
                            Behavior Disorder, and Profound Proficient Adaptive
                            Skills, Intestinal Dydbiosis</strong
                          >
                        </p>
                        <p>
                          <span>Allergies</span>
                          <strong>NKA</strong>
                        </p>
                        <p>
                          <span>Communication</span>
                          <strong>Make noises, sounds.</strong>
                        </p>
                        <p>
                          <span>Assistive Devices</span>
                          <strong>Communication Device - IPAD</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 pe-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">
                  Legal Representative/conservator
                </h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Vanessa and Greg Bethea</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong>3473 Dupree Memphis, TN 38115</strong>
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9012708615</strong>
                        </p>
                        <p><span>Home No.</span> <strong>9013659280</strong></p>
                        <p><span>Cell No.</span> <strong>9012708615</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 ps-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">
                  Independent Support Coordinator
                </h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Lisa Espinoza</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong>2322 Ascott Place Cordova, TN 38016</strong>
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9015317350</strong>
                        </p>
                        <p><span>Home No.</span> <strong>N/A</strong></p>
                        <p><span>Cell No.</span> <strong>9014979988</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 pe-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">
                  Legal Representative/advocate
                </h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>N/A</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong>N/A</strong>
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>N/A</strong>
                        </p>
                        <p><span>Home No.</span> <strong>N/A</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 ps-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Family/Emergency Contact</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Robert Clyburn</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong>1155 Cully Rd Cordova, TN 38016</strong>
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>7312341305</strong>
                        </p>
                        <p><span>Home No.</span> <strong>N/A</strong></p>
                        <p><span>Cell No.</span> <strong>7312341305</strong></p>
                        <p>
                          <span>Other</span> <strong>Vanessa Bethea</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 gx-0">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Family/Emergency Contact</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-6 common-box p-0">
                        <p>
                          <span>Date of Admission to Residential Agency</span>
                          <strong>08/09/2016</strong>
                        </p>
                        <p>
                          <span>Name</span>
                          <strong>Poplar Assisted Living</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong>1155 Cully Road Cordova, TN 38018</strong>
                        </p>
                        <p>
                          <span>Phone</span>
                          <strong>9016242454</strong>
                        </p>
                        <p><span>Fax</span> <strong>9016242928</strong></p>
                      </div>
                      <div class="col-md-6 common-box p-0">
                        <p>
                          <span>Manager's Name</span>
                          <strong>Robert Clyburn</strong>
                        </p>
                        <p>
                          <span>Number</span>
                          <strong>7312341305</strong>
                        </p>
                        <p>
                          <span>Multisite Supervisor</span>
                          <strong>N/A</strong>
                        </p>
                        <p><span>Phone</span> <strong> </strong></p>
                        <p><span>CPE Tel</span> <strong>9012067839</strong></p>
                        <p>
                          <span>Behavior Analyst</span>
                          <strong>9014943800</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 pe-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Primary Care Physician</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Dr. Shoaib Qureshi</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong
                            >3000 Getwell Rd 102 Memphis , TN 38118</strong
                          >
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9013696008</strong>
                        </p>
                        <p><span>Home No.</span> <strong>8776274395</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 ps-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">
                  What an Emergency Looks Like for Me
                </h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <strong class="w-100"
                            >Displaying physical aggression, elopement.</strong
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 pe-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">DDS</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Dr. Sheldon Graves</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong
                            >4137 Kirby Parkway 4 Memphis, TN 38115</strong
                          >
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9014330701</strong>
                        </p>
                        <p><span>Home No.</span> <strong>N/A</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 ps-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Special Instructions</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <strong>Tariq likes to have objects in his hands. Arms reach while in the community.</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 pe-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Psychiatrist</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Dr. Tejinder Saini</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong>8130 Country Village 102 Cordova, TN 38016</strong>
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9015661002</strong>
                        </p>
                        <p><span>Home No.</span> <strong>N/A</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 ps-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Pharmacy</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Guardian Mid-South Pharmacy</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong
                            >3110 Stage Post Dr 109 Bartlett, TN 38133</strong
                          >
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9018002100</strong>
                        </p>
                        <p><span>Home No.</span> <strong>N/A</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 pe-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Nursing Services</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Tonya Hamilton</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong
                            >NA Na, TN 38125</strong
                          >
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>N/A</strong>
                        </p>
                        <p><span>Home No.</span> <strong>N/A</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Behavior Analyst</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>William Talbert</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong
                            >1155 Cully Rd Cordova, TN 38018</strong
                          >
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9014943800</strong>
                        </p>
                        <p><span>Home No.</span> <strong>N/A</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 gx-0 ps-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Medications</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Dr. Shoaib Qureshi</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong
                            >3000 Getwell Rd 102 Memphis , TN 38118</strong
                          >
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9013696008</strong>
                        </p>
                        <p><span>Home No.</span> <strong>8776274395</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 gx-0 pe-3">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border">
                <h3 class="m-0 d-inline-block">Other Specialists</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-6 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Dr. Shoaib Qureshi</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong
                            >3000 Getwell Rd 102 Memphis , TN 38118</strong
                          >
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9013696008</strong>
                        </p>
                        <p><span>Home No.</span> <strong>8776274395</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                        <p><span>Speciality</span> <strong>PCP</strong></p>
                      </div>
                      <div class="col-md-6 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Dr. Ahmad Al- Hamda</strong>
                        </p>
                        <p>
                          <span>Address</span>
                          <strong
                            >5100 Sanderlin Ave 2100 Memphis, TN 38117</strong
                          >
                        </p>
                        <p>
                          <span>24Hr No.</span>
                          <strong>9018200141</strong>
                        </p>
                        <p><span>Home No.</span> <strong>N/A</strong></p>
                        <p><span>Cell No.</span> <strong>N/A</strong></p>
                        <p><span>Speciality</span> <strong>Neurology</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 gx-0">
          <div class="client-tab-data">
            <div class="row gx-0">
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p>
                          <span>Name</span>
                          <strong>Toinette Young </strong>
                        </p>
                        <p>
                          <span>Title</span>
                          <strong
                            >Program Director</strong
                          >
                        </p>
                        <p>
                          <span>Signature</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 gx-0">
          <div class="client-tab-data large-table">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border d-flex justify-content-between">
                <h3 class="m-0 d-inline-block pt-2">Past and Future Medical Appointments</h3>
                <div class="date-set d-inline-block">
                  <p class="mb-0 d-inline-block align-middle">
                    From date <input type="date" id="birthday" name="birthday" /> To
                    date <input type="date" id="birthday" name="birthday" />
                  </p>
                  <button class="btn primary-btn ms-3">Load</button>
                </div>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p class="table-head bottom-border">
                          <span>Tom Blackberry</span>
                          <span>Past and Future Medical Appointments</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 gx-0">
          <div class="client-tab-data large-table">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border d-flex justify-content-between">
                <h3 class="m-0 d-inline-block pt-2">Health Symptoms</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p class="table-head bottom-border">
                          <span>Identified Problem</span>
                          <span>Dr. Shoaib Qureshi</span>
                          <span>Follow Up</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 gx-0">
          <div class="client-tab-data large-table">
            <div class="row gx-0">
              <div class="header bg-color-grey bottom-border d-flex justify-content-between">
                <h3 class="m-0 d-inline-block pt-2">Integrated Health Care Encounter Form Log</h3>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row p-3 gx-0">
                      <div class="col-md-12 common-box p-0">
                        <p class="table-head bottom-border">
                          <span>Dated</span>
                          <span>Service Provided</span>
                          <span>Provider Name</span>
                          <span>Reason for Consultation</span>
                          <span>Recommendation</span>
                          <span>Outcome</span>
                          <span>Medication</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
