.p-dialog-content .ng-dropdown-panel .ng-dropdown-panel-items {
    display: block;
    height: auto;
    box-sizing: border-box;
    max-height: 120px;
    overflow-y: auto;
}

.p-dropdown {
    width: 435px !important;
}
.p-component {
    width: 435px !important;
}
