<div class="form-wrapper form-group">
  <div class="row">
    <div class="col-sm-12" id="divBillingbehaviour">

      <div class="form-group px-lg-3 pt-lg-4">
        <label for="" class="label-light">Billing Type</label>
        <input type="text" class="form-control" placeholder="Billing Type" [(ngModel)]="selectedItems1.billingType"
          optionLabel="label">

      </div>
    </div>
    <div class="col-sm-12" id="divServicetypebehaviour">
      <div class="form-group px-lg-3 pt-lg-4">
        <label for="" class="label-light ">Service Type</label>
        <p-dropdown [options]="serviceTypes" placeholder="Select Service Type" [(ngModel)]="selectedItems1.serviceType"
          optionLabel="label"></p-dropdown>


      </div>

    </div>
    <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-3">
        <label class="label-light">Service Requested Date</label>
        <div class="row m-0">
          <div class="col-4 p-0">
            <p-dropdown [options]="DayList" [(ngModel)]="selectedItems1.serviceRequestedDay" optionLabel="name"
              placeholder="Day" class="day-dropdown">
            </p-dropdown>

          </div>
          <div class="col-4 p-0">
            <p-dropdown [options]="MonthList" [(ngModel)]="selectedItems1.serviceRequestedMonth" optionLabel="name"
              placeholder="Month" class="mon-dropdown">
            </p-dropdown>

          </div>
          <div class="col-4 p-0">
            <p-dropdown [options]="YearList" [(ngModel)]="selectedItems1.serviceRequestedYear" optionLabel="name"
              placeholder="Year" class="year-dropdown">
            </p-dropdown>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
        <label class="label-light">Service Approval Date</label>
        <div class="row m-0">
          <div class="col-4 p-0">
            <p-dropdown [options]="DayList" [(ngModel)]="selectedItems1.serviceApproveDay" optionLabel="name"
              placeholder="Day" class="day-dropdown">
            </p-dropdown>

          </div>
          <div class="col-4 p-0">
            <p-dropdown [options]="MonthList" [(ngModel)]="selectedItems1.serviceApproveMonth" optionLabel="name"
              placeholder="Month" class="mon-dropdown">
            </p-dropdown>

          </div>
          <div class="col-4 p-0">
            <p-dropdown [options]="YearList" [(ngModel)]="selectedItems1.serviceApproveYear" optionLabel="name"
              placeholder="Year" class="year-dropdown">
            </p-dropdown>

          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
        <label class="label-light">Service Expiration Date</label>
        <div class="row m-0">
          <div class="col-4 p-0">
            <p-dropdown [options]="DayList" [(ngModel)]="selectedItems1.serviceExpirationDay" optionLabel="name"
              placeholder="Day" class="day-dropdown">
            </p-dropdown>

          </div>
          <div class="col-4 p-0">
            <p-dropdown [options]="MonthList" [(ngModel)]="selectedItems1.serviceExpirationMonth" optionLabel="name"
              placeholder="Month" class="mon-dropdown">
            </p-dropdown>

          </div>
          <div class="col-4 p-0">
            <p-dropdown [options]="YearList" [(ngModel)]="selectedItems1.serviceExpirationYear" optionLabel="name"
              placeholder="Year" class="year-dropdown">
            </p-dropdown>

          </div>
        </div>
      </div>
    </div>


    <!-- <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
          <label for="" class="label-light text-uppercase">Service Requested Date</label>
          <input type="date" class="form-control"  [(ngModel)]="selectedItems1.serviceRequestedDate">
      </div>
  </div> -->
    <!-- <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
          <label for="" class="label-light text-uppercase">Service Approval Date</label>
          <input type="date" class="form-control"   [(ngModel)]="selectedItems1.serviceApproveDate">
      </div>
  </div> -->
    <!-- <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
          <label for="" class="label-light text-uppercase">Service Expiration Date</label>
   <input type="date" class="form-control"    [(ngModel)]="selectedItems1.serviceExpirationDate">

      </div>
  </div> -->
    <!-- <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
          <label for="" class="label-light text-uppercase">Unit Type</label>
          <p-dropdown [options]="unitTypes" placeholder="Select Unit Type" [(ngModel)]="selectedItems1.unitType" optionLabel="label"
          ></p-dropdown>

      </div>
  </div> -->
    <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
        <label for="" class="label-light">Unit Number</label>
        <input type="text" class="form-control" [(ngModel)]="selectedItems1.unitNumber">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
        <label for="" class="label-light">Client Rate Per Unit</label>
        <input type="text" class="form-control" (change)="ValidateBehaviour(1)"
          [(ngModel)]="selectedItems1.clientRatePerUnit">
        <small id="idbefaviourClientRate" class="text-danger"></small>
      </div>

    </div>
    <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
        <label for="" class="label-light ">Unit Approved</label>
        <input type="text" class="form-control" (change)="ValidateBehaviour(2)"
          [(ngModel)]="selectedItems1.unitApproved">
        <small id="idbehavunitAproved" class="text-danger"></small>
      </div>

    </div>
    <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
        <label for="" class="label-light">Fund Code</label>
        <input type="text" class="form-control" (change)="ValidateBehaviour(3)" [(ngModel)]="selectedItems1.fundCode">
        <small id="idbehafundCode" class="text-danger"></small>
      </div>

    </div>
    <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4">
        <label for="" class="label-light ">Payer Agency</label>
        <p-dropdown [options]="payerAgencys" placeholder="Select Payer Agency" [(ngModel)]="selectedItems1.payerAgency"
          optionLabel="label"></p-dropdown>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group px-lg-3 pt-lg-4 pb-lg-4">
        <label for="" class="label-light">Payer Agency Address</label>
        <input type="text" class="form-control" [(ngModel)]="selectedItems1.payerAgencyAddress">

      </div>

    </div>





  </div>
</div>
<div class="divider"></div>