<div class="shift-box">
    <div class="shift-heading">
      <h1 class="mb-0">Open Shifts</h1>
    </div>
    <div class="shift-detail mt-3">
        <div class="row shift-header p-3">
            <div class="col-lg-1 col-md-2 col-12">
                <p class="month">Feb 2022</p>
              </div>
              <div class="col-lg-11 col-md-10 col-12 text-center p-lg-3 p-md-2 p-sm-2 p-1 week">
                <button class="btn">
                  <img src="../../../../assets/img/weekleftarrow.svg" alt="" />
                </button>
                <p class="d-inline-block mb-0">
                  Monday, Feb 21, 2022 - Sunday, Feb 27, 2022
                </p>
                <button class="btn">
                  <img src="../../../../assets/img/weekrightarrow.svg" alt="" />
                </button>
              </div>
        </div>
        <div class="shift-table p-3">
            <table class="w-100">
                <tr>
                    <th class="p-lg-3 p-md-2 p-sm-2 p-1">Employee</th>
                    <th class="text-center p-lg-3 p-md-2 p-sm-2 p-1">Mon Apr18</th>
                    <th class="text-center p-lg-3 p-md-2 p-sm-2 p-1">Tue Apr19</th>
                    <th class="text-center p-lg-3 p-md-2 p-sm-2 p-1">Wed Apr20</th>
                    <th class="text-center p-lg-3 p-md-2 p-sm-2 p-1">Thu Apr21</th>
                    <th class="text-center p-lg-3 p-md-2 p-sm-2 p-1">Fri Apr22</th>
                    <th class="text-center p-lg-3 p-md-2 p-sm-2 p-1">Sat Apr23</th>
                    <th class="text-center p-lg-3 p-md-2 p-sm-2 p-1">Sun Apr24</th>
                </tr>
                <tr>
                    <td class="p-lg-3 p-md-2 p-sm-2 p-1">Alex Christopher Sullivan</td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                </tr>
                <tr>
                    <td class="p-lg-3 p-md-2 p-sm-2 p-1">John Letterman</td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                </tr>
                <tr>
                    <td class="p-lg-3 p-md-2 p-sm-2 p-1">Jonathan Gussan</td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                </tr>
                <tr>
                    <td class="p-lg-3 p-md-2 p-sm-2 p-1">L. Anderson</td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                </tr>
                <tr>
                    <td class="p-lg-3 p-md-2 p-sm-2 p-1">G. Armstead</td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                </tr>
                <tr>
                    <td class="p-lg-3 p-md-2 p-sm-2 p-1">N. Badger</td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                </tr>
                <tr>
                    <td class="p-lg-3 p-md-2 p-sm-2 p-1">N. Badger</td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                    <td class="text-center p-lg-3 p-md-2 p-sm-2 p-1"></td>
                </tr>
            </table>
        </div>
      </div>
  </div>
  