<div class="content-wrapper">

<div class="row">
  <div class="col-lg-6 position-relative login-input-div">
    <div class="input-box position-absolute">
      <div class="logo-title">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 logo-box">
            <img src="../../../../assets/img/Logo-blue.png" alt="" />
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 logo-head ps-2">
            <p class="mb-0">HEALTHCARE SAFETY <br />INTERNATIONAL</p>
          </div>
          <div class="col-lg-12 main-heading">
            <p class="m-0">Hello,<br />Welcome Back</p>
          </div>
          <div class="col-lg-12 user-input">
              <p class="m-0">User Name</p>
              <input class="mt-1" type="text" placeholder="User Name">
              <p class="mt-4 mb-0">Password</p>
              <input class="mt-1" type="text" placeholder="Password">
          </div>
          <div class="col-lg-12 forgot-text">
            <p>Forgot your password?</p>
          </div>
          <button type="button" class="btn btn-primary mt-3">Login</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 login-image-div p-0 position-relative">
    <img
      class="position-absolute login-img-box"
      src="../../../../assets/img/closeup-support-hands.jpg"
      alt=""
    />
  </div>
</div>
</div>