<div class="container p-0">
  <div class="row">
    <!-- Page Head -->

    <div class="col-lg-12 p-0">
      <p class="top-heading">Employee Page</p>
    </div>

    <!-- Page Head -->

    <!-- Page Content -->

    <div class="col-lg-12 main-div py-3">
      <div class="row">
        <!-- Employee Data -->

        <div class="col-lg-3 col-md-3 pe-4 gx-0 employee-div">
          <div class="employee-data">
            <div class="employee-info text-center">
              <img
                class="employee-image"
                src="../../../../assets/img/employee-img.png"
                alt=""
              />
              <h1 class="employee-name">Carl A. Glenn</h1>
              <h2 class="employee-profile">
                Administrative Or Managerial Staff Chief Executive Officer
              </h2>
              <h4 class="join-date">08 Jun, 2000</h4>
              <button class="btn btn-primary edit-btn">
                <img
                  class="pe-2 mt-n3"
                  src="../../../../assets/img/pencil.svg"
                  alt=""
                />
                <p class="d-inline">Edit Profile</p>
              </button>
            </div>
            <div class="employee-links">
              <h4 class="links-head">Manager Links</h4>
              <ul class="all-links p-0">
                <li class="employee-link">
                  <img
                    class="link-icon"
                    src="../../../../assets/img/dashboard.svg"
                    alt=""
                  /><a href="">Dashboard</a>
                </li>
                <li class="employee-link">
                  <img
                    class="link-icon"
                    src="../../../../assets/img/exclamation-diamond.svg"
                    alt=""
                  /><a href="">Restrictions</a>
                  <img
                    class="danger-symbol"
                    src="../../../../../assets/img/red-danger.svg"
                    alt=""
                  />
                </li>
                <li class="employee-link">
                  <img
                    class="link-icon"
                    src="../../../../assets/img/stop-watch.svg"
                    alt=""
                  /><a href="">Time Off Requests</a>
                </li>
                <li class="employee-link">
                  <img
                    class="link-icon"
                    src="../../../../assets/img/mortarboard.svg"
                    alt=""
                  /><a href="">Training Results</a>
                </li>
                <li class="employee-link">
                  <img
                    class="link-icon"
                    src="../../../../assets/img/person-lines.svg"
                    alt=""
                  /><a href="">Staffs Planning</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Employee Data -->

        <!-- Employee Stats -->

        <div class="col-lg-9 col-md-9 employee-stats gx-0">
          <div class="alert-box">
            <div class="alert-points">
              <ul>
                <li>
                  By logging in, I acknowledge that all entries conducted during
                  the login session will be authored by me and authenticated by my
                  electronic signature.
                </li>
                <li>
                  I must and will log out as soon as I am not actively working in
                  The Portal.
                </li>
                <li>I admit that I have read all messages and notifications.</li>
              </ul>
              <p class="mb-2 text-end"><a href="">Accept</a></p>
            </div>
          </div>
          <div class="row gx-0 reminders">
            <div class="col-lg-3 col-md-6 col-6">
              <div class="performance-div p-lg-3">
                <div class="d-inline-block like-dislike-1 mb-lg-2 me-lg-2">
                  <div class="like">
                    <img src="../../../../assets/img/thumbs-up.svg" alt="" />
                    <p class="d-inline m-0">0</p>
                  </div>
                </div>
                <div class="d-inline-block like-dislike-2 ms-lg-2 mb-lg-2">
                  <div class="dislike">
                    <img src="../../../../assets/img/thumbs-down.svg" alt="" />
                    <p class="d-inline m-0">0</p>
                  </div>
                </div>
                <h3 class="mb-0">Performance</h3>
                <p class="mb-0">(Need Performance evaluation)</p>
                <a href="">View</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 ps-lg-3">
              <div class="assigned-task p-lg-3">
                <p class="mb-lg-2">0</p>
                <h3 class="mb-0">Assigned Tasks & Recommendations</h3>
                <a href="mt-lg-1">View</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 ps-lg-3 training-servey">
                <div class="col-lg-12 training p-lg-3">
                  <p class="d-inline-block me-lg-2 mb-0">1</p>
                  <h3 class="d-inline-block mb-0">Pending Training</h3>
                </div>
                <div class="col-lg-12 servey mt-lg-3 p-lg-3">
                  <p class="d-inline-block me-lg-2 mb-0">1</p>
                  <h3 class="d-inline-block mb-0">Pending Servey</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6 ps-lg-3 quiz">
              <div class="col-lg-12 training p-lg-3">
                <p class="d-inline-block me-lg-2 mb-0">9</p>
                <h3 class="d-inline-block mb-0">Pending Quiz</h3>
              </div>
            </div>
          </div>
          <div class="employee-menu">
            <app-panel-menu></app-panel-menu>
          </div>
        </div>

        <!-- Employee Stats -->
      </div>
    </div>

    <!-- Page Content -->
  </div>
</div>
