<div class="timesheet-data">
  <div class="heading">
    <p class="mb-0">
      <a><img src="../../../../../assets/img/info-circle.svg" alt="" /></a>
      These hours may change if HR finds any discrepancy
    </p>
  </div>
  <div class="timesheet-main">
    <div class="main-head">
      <h3 class="mb-0 d-inline-block">Mar 2022</h3>
      <div class="set-date d-inline-block">
        <button class="btn">
          <img src="../../../../assets/img/weekleftarrow.svg" alt="" />
        </button>
        <p class="d-inline-block mb-0">
          Monday, Feb 21, 2022 - Sunday, Feb 27, 2022
        </p>
        <button class="btn">
          <img src="../../../../assets/img/weekrightarrow.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="timing-details">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-3 timing text-center">
          <h5>Total Shift Hrs</h5>
          <h3>248:00</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-3 timing text-center">
          <h5>Total Additional Hrs</h5>
          <h3>00:45</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-3 timing text-center">
          <h5>Total Leave</h5>
          <h3>00:00</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-3 timing text-center border-none">
          <h5>Total Bilable Hrs</h5>
          <h3>248:15</h3>
        </div>
      </div>
    </div>
    <div class="timing-table">
      <table class="w-100">
        <colgroup>
          <col />
          <col />
          <col class="week-column" />
          <col class="week-column" />
          <col class="week-column" />
          <col class="week-column" />
          <col class="week-column" />
          <col class="week-column" />
          <col class="week-column" />
          <col class="total-column" />
        </colgroup>
        <tr>
          <th></th>
          <th>
            <img src="../../../../../assets/img/clock.svg" alt="" />
          </th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Tue 1 to Sun 6<br /><span class="week">W10</span></td>
          <td>
            Shift Hrs<br /><span class="over-time">Over time</span><br /><span
              class="leave"
              >Leave</span
            >
          </td>
          <td class="p-0 text-center">
            -<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time text-red">00:30</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time text-green">00:15</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            48:00<br /><span class="over-time">00:45</span><br /><span
              class="leave"
              >-</span
            >
          </td>
        </tr>
        <tr>
          <td>Mon 7 to Sun 13<br /><span class="week">W11</span></td>
          <td>
            Shift Hrs<br /><span class="over-time">Over time</span><br /><span
              class="leave"
              >Leave</span
            >
          </td>
          <td class="p-0 text-center">
            8:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time text-yellow">00:21</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time text-blue">00:14</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            56:00<br /><span class="over-time">00:35</span><br /><span
              class="leave"
              >-</span
            >
          </td>
        </tr>
        <tr>
          <td>Mon 14 to Sun 20<br /><span class="week">W12</span></td>

          <td>
            Shift Hrs<br /><span class="over-time">Over time</span><br /><span
              class="leave"
              >Leave</span
            >
          </td>
          <td class="p-0 text-center">
            8:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            56:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
        </tr>
        <tr>
          <td>Mon 21 to Sun 27<br /><span class="week">W13</span></td>

          <td>
            Shift Hrs<br /><span class="over-time">Over time</span><br /><span
              class="leave"
              >Leave</span
            >
          </td>
          <td class="p-0 text-center">
            8:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            56:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
        </tr>
        <tr>
          <td>Mon 28 to Thu 31<br /><span class="week">W14</span></td>
          <td>
            Shift Hrs<br /><span class="over-time">Over time</span><br /><span
              class="leave"
              >Leave</span
            >
          </td>
          <td class="p-0 text-center">
            8:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            08:00<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            -<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            -<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            -<br /><span class="over-time">-</span><br /><span class="leave"
              >-</span
            >
          </td>
          <td class="p-0 text-center">
            32:00<br /><span class="over-time">-</span><br /><span
              class="leave"
              >-</span
            >
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
